<html>
<head> 
<title> ToDo App </title>
 <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
 <link href="/styles.css" rel="stylesheet">
</head>

<body>
<div class="container">
<h2> A Simple ToDo List App </h2>

<form action ="/addtask" method="POST">

<input type="text" name="newtask" placeholder="add new task">
<button> Add Task </button>


<h2> Pending Tasks </h2>

<% for( var i = 0; i < incomplete.length; i++){ %>
    <li><input type="checkbox" name="check" value="<%= incomplete[i] %>" /> <%= incomplete[i] %> </li>
<% } %>
<br>
<button formaction="/toggletask" type="submit" id="top"> Done </button>

<h2> Completed Tasks </h2>

 <% for(var i = 0; i < completed.length; i++){ %>
    <li><input type="checkbox" name="check" value="<%= completed[i] %>" /> <%= completed[i] %> </li>
<% } %>
<br>
<button formaction="/deletetask" type="submit" id="delete"> Delete </button>
</form>

</div>

</body>
</html>
